{% extends 'base_template.html' %}
{% load static %}
{% block content %}
    <div class="banner shadow-lg">
        <div  id="about-banner" class="sliding-background"></div> 
    </div>
    <div style="position: relative; margin-inline: auto; max-width: fit-content;">
        <img id="about-text" class="img-fluid" style="height: 100%;" src="{% static 'images/AboutText.png' %}">
    </div>

    <script>
        var wordHeight = document.querySelector('#about-text');
        console.log(wordHeight.clientHeight);
        document.getElementById('about-banner').style.height=(wordHeight.clientHeight+100)+"px";
    </script>
{% endblock %}