{% extends 'base_template.html' %}
{% load static %}
{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="banner shadow-lg">
                <div  id="about-banner" class="sliding-background"></div> 
            </div>
            <div style="position: relative; margin-inline: auto; max-width: fit-content;">
                <img id="about-text" class="img-fluid" style="height: 100%;" src="{% static 'images/AboutText.png' %}">
            </div>
        </div>

        <div class="container-fluid" style="padding-top: 75px;">
            <div class="row text-center">
                <h1 class="display-4">Welcome to The Language Medium!</h1>
            </div>
            <div class="row mt-3">
                <p class="lead" style="text-indent: 50px;">
                    Our mission is to break down language barriers, empowering travelers to connect effortlessly with locals, explore new cultures, and make the most out of every journey. We understand the excitement and challenges of navigating foreign lands, 
                    especially when language becomes a hurdle. That's why we built <i>The Language Medium</i> — a fast, reliable, and intuitive translation tool designed specifically for travelers on the go.<br><br>
                </p>
                <h3>
                    <b>Why <i>The Language Medium</i>?</b>
                </h3>
                <p class="lead" style="text-indent: 50px;"> 
                    Whether you’re ordering a meal, asking for directions, or engaging with locals, <i>The Language Medium</i> is here to help. Our app provides instant translations that are easy to understand and contextually accurate,
                     helping you communicate seamlessly in real-time. Unlike other translators, we focus on making it convenient for quick, frequent use, ensuring translations are always at your fingertips.
                </p>
                <h3>
                    <b>Key Features</b>
                </h3>
                    <ul class="lead" style="margin-left: 50px;">
                        <li><b>Instant Translations:</b> Quickly translate text, phrases, or speech in multiple languages with just a tap.</li>
                        <li><b>Phrasebook Integration:</b> Save frequently used phrases and words for even quicker access while touring.</li>
                        <li><b>Audio Pronunciations:</b> Hear how locals pronounce words to help you speak with confidence.</li>
                    </ul>
                <h3>
                    <b>Our Vision</b>
                </h3>
                <p class="lead" style="text-indent: 50px;">
                    With <i>The Language Medium</i>, we believe language should never be a barrier to exploration. We aim to empower world travelers with the ability to interact with ease and confidence, promoting a world where connections across cultures are natural and enjoyable. 
                </p>
            </div>
            <div class="row text-center">
                <h3 class="display-6">
                    Thank you for choosing <i>The Language Medium</i>. Adventure awaits!
                </h3>
            </div>
        </div>
    </div>
    
    <script>
        var wordHeight = document.querySelector('#about-text');
        console.log(wordHeight.clientHeight);
        document.getElementById('about-banner').style.height=(wordHeight.clientHeight+100)+"px";
    </script>
{% endblock %}