{% extends 'base_template.html' %}

{% block title %}Update Account - The Language Medium{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Update Your Account Information</h2>

            <!-- Display any error messages if the form is invalid -->
            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    <ul>
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <!-- Update account form -->
            <form method="POST" class="shadow p-4 rounded" action="{% url 'update_account' %}">
                {% csrf_token %}

                <div class="mb-3 row">
                    <label for="id_username" class="col-sm-4 col-form-label">Username:</label>
                    <div class="col-sm-8">
                        <input type="text" name="username" class="form-control" id="id_username" value="{{ user.username }}" required>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="id_email" class="col-sm-4 col-form-label">Email:</label>
                    <div class="col-sm-8">
                        <input type="email" name="email" class="form-control" id="id_email" value="{{ user.email }}" required>
                    </div>
                </div>

                <button type="submit" class="btn btn-color btn-lg btn-dark w-100">Update Account</button>
            </form>

            <p class="mt-3 text-center"><a href="{% url 'index' %}">Back to Home</a></p>
        </div>
    </div>
</div>
{% endblock %}
