{% extends 'base_template.html' %}
{% block title %}Welcome - The Language Medium{% endblock %}
{% block content %}

<h1 style="text-align: center;">Quickly translate words or phrases below!</h1>
<br>
<div class='container-fluid text-center'>
    <form action='' method='POST'>
        {% csrf_token %}
        <div class='row'>
            <div class="shadow-lg rounded bg-light">
                <div style="padding-top: 5px;" class='col'>
                    {{ form.q_lang }}
                    <br>
                    {{ form.q_text }}
                </div>
                <div style="padding-top: 5px;" class='col'>
                    {{ form.t_lang }}
                    <br>
                    {{ form.t_text }}
                </div>

                <div style="padding-top: 5px; padding-bottom: 5px;"class="container">
                    <input class="btn btn-color btn-dark" type="submit" value="Translate" name="translate">
                </div>
            </div>
        </div>
        
    </form>
</div>
{% endblock %}