{% extends 'base_template.html' %}
{% block title %}Welcome - The Language Medium{% endblock %}
{% block content %}

<p>Quick Translate Page</p>
<div class='container-fluid text-center'>
    <form action='' method='POST'>
        {% csrf_token %}
        <div class='row'>
            <div class='col'>
                {{ form.q_lang }}
                {{ form.q_text }}
            </div>
            <div class='col'>
                {{ form.t_lang }}
                {{ form.t_text }}
            </div>
        </div>
        <div class='container'>
            <input type="submit" value="Submit" name="submit">
        </div>
    </form>
</div>
{% endblock %}